# 23 Getting information from the user and converting strings and numbers

In [62]:
gender = input("Please mention your gender ")
age  = input("Please mention your age")

gender + age

Please mention your gender M
Please mention your age27

'M27'

In [4]:
age  = input("Please mention your age ")


print("After five years, he/she would be", int(age) + 5)

Please mention your age 27
After five years, he/she would be 32

In [40]:
start = input("Please advise where to start a table ")
end =  input("Advise your last table to show ")

for i in range(1,11):
    for j in range(int(start),int(end) + 1):
        print(j,"x", i, "=", j*i, end = "\t")
        
    print()

Please advise where to start a table 2
Advise your last table to show 6
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54
2 x 10 = 20	3 x 10 = 30	4 x 10 = 40	5 x 10 = 50	6 x 10 = 60

In [28]:
5 == 5.0

True

# 24 Changing case

In [29]:
print("Waqas".lower())
print("WAQAS".lower())
print("Waqas".upper())
print("Anwar Ali".upper())
print("Anwar Ali".capitalize())
print("aNWAR Ali".capitalize())
print("aNWAR aLI".title())

waqas
waqas
WAQAS
ANWAR ALI
Anwar ali
Anwar ali
Anwar Ali

In [30]:
cleanest_cities = ["Cheyenne", "cheyenne", "SantaFe", "santa fe", "Tucson", "tucson", "Great Falls",
"great falls", "Honolulu", "honolulu"]

for city in cleanest_cities:
    city.upper()
    
cleanest_cities

['Cheyenne',
 'cheyenne',
 'SantaFe',
 'santa fe',
 'Tucson',
 'tucson',
 'Great Falls',
 'great falls',
 'Honolulu',
 'honolulu']

In [34]:
cleanest_citiess = []
for city in cleanest_cities:
    up_value = city.upper()
    cleanest_citiess.append(up_value)
    
cleanest_citiess

['CHEYENNE',
 'CHEYENNE',
 'SANTAFE',
 'SANTA FE',
 'TUCSON',
 'TUCSON',
 'GREAT FALLS',
 'GREAT FALLS',
 'HONOLULU',
 'HONOLULU']

In [39]:
cleanest_cities

for i in range (len(cleanest_cities)):
    cleanest_cities[i] =  cleanest_cities[i].upper()

cleanest_cities

['CHEYENNE',
 'CHEYENNE',
 'SANTAFE',
 'SANTA FE',
 'TUCSON',
 'TUCSON',
 'GREAT FALLS',
 'GREAT FALLS',
 'HONOLULU',
 'HONOLULU']

# 25 Dictionaries: What they are

In [ ]:
employee = ["Ali", 27, 300000]

Dictionary is a Key Vlaue pair

In [41]:
employee = {"Name":"Ali","age":27,"Salary":300000}

In [44]:
employee["Name"], employee["age"],employee["Salary"]

('Ali', 27, 300000)

In [45]:
employee[0]

KeyError: 0

In [46]:
employee["age"] = 28

In [47]:
employee

{'Name': 'Ali', 'age': 28, 'Salary': 300000}

In [48]:
employee["Designation"] = "Manager"

In [49]:
employee

{'Name': 'Ali', 'age': 28, 'Salary': 300000, 'Designation': 'Manager'}

In [51]:
employee1 = {}

In [52]:
employee1["Name"] = "Babar"
employee1["age"] = 35
employee1["Salary"] = 400000
employee1["Designation"] = "G.M"

employee1

{'Name': 'Babar', 'age': 35, 'Salary': 400000, 'Designation': 'G.M'}

In [53]:
employee_name = ["Anwar", "Tahir","Ammar", "Shafiq", "Afaq"]
employee_age = [20,21,22,23,24,25]
employee_desig = ["A.M","D.M", "Manager", "G.M", "Director"]

In [ ]:
# emplyees = [{"Name":"Anwar", "age":20, "Designation": "A.M"}, {"Name":"Anwar", "age":20, "Designation": "A.M"}]

In [54]:
employees = []

In [55]:
for i in range(5):
    employee = {}
    employee["Name"] = employee_name[i]
    employee["age"] = employee_age[i]
    employee["Desugnation"] = employee_desig[i]
    employees.append(employee)

In [56]:
employees

[{'Name': 'Anwar', 'age': 20, 'Desugnation': 'A.M'},
 {'Name': 'Tahir', 'age': 21, 'Desugnation': 'D.M'},
 {'Name': 'Ammar', 'age': 22, 'Desugnation': 'Manager'},
 {'Name': 'Shafiq', 'age': 23, 'Desugnation': 'G.M'},
 {'Name': 'Afaq', 'age': 24, 'Desugnation': 'Director'}]

In [58]:
anwar = {'Name': 'Anwar', 'age': 20, 'Desugnation': 'A.M'}
tahir =  {'Name': 'Tahir', 'age': 21, 'Desugnation': 'D.M'}
ammar =  {'Name': 'Ammar', 'age': 22, 'Desugnation': 'Manager'}
shafiq =  {'Name': 'Shafiq', 'age': 23, 'Desugnation': 'G.M'}
afaq = {'Name': 'Afaq', 'age': 24, 'Desugnation': 'Director'}

In [ ]:
{1:{'Name': 'Anwar', 'age': 20, 'Desugnation': 'A.M'},2 :{'Name': 'Tahir', 'age': 21, 'Desugnation': 'D.M'}} }

In [60]:
lst = [anwar,tahir, ammar, shafiq, afaq]
lst

[{'Name': 'Anwar', 'age': 20, 'Desugnation': 'A.M'},
 {'Name': 'Tahir', 'age': 21, 'Desugnation': 'D.M'},
 {'Name': 'Ammar', 'age': 22, 'Desugnation': 'Manager'},
 {'Name': 'Shafiq', 'age': 23, 'Desugnation': 'G.M'},
 {'Name': 'Afaq', 'age': 24, 'Desugnation': 'Director'}]

In [61]:
client_dict = {}
for i in range(5):
    client_dict[i+1] = lst[i]

client_dict

{1: {'Name': 'Anwar', 'age': 20, 'Desugnation': 'A.M'},
 2: {'Name': 'Tahir', 'age': 21, 'Desugnation': 'D.M'},
 3: {'Name': 'Ammar', 'age': 22, 'Desugnation': 'Manager'},
 4: {'Name': 'Shafiq', 'age': 23, 'Desugnation': 'G.M'},
 5: {'Name': 'Afaq', 'age': 24, 'Desugnation': 'Director'}}

In [68]:
client_dict = {}
for i in range(5):
    client_dict[i+1] = [lst[i]["Name"],lst[i]["age"], lst[i]["Desugnation"]]

client_dict

{1: ['Anwar', 20, 'A.M'],
 2: ['Tahir', 21, 'D.M'],
 3: ['Ammar', 22, 'Manager'],
 4: ['Shafiq', 23, 'G.M'],
 5: ['Afaq', 24, 'Director']}

In [1]:
employee = {"Name":"Saad", "age":27, "Designation":"D.M"}

In [4]:
for key, value in employee.items()
for i in employee.values(): 
    print(i)

Saad
27
D.M

In [5]:
for key, value in employee.items():
    print(key, value)

Name Saad
age 27
Designation D.M

In [7]:
for key in employee:
    print(key, employee[key])

Name Saad
age 27
Designation D.M

In [9]:
print(type(employee.keys()))
print(type(employee.values()))
print(type(employee.items()))

<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>

In [11]:
print(list(employee.keys()))
print(list(employee.values()))
print(list(employee.items()))

['Name', 'age', 'Designation']
['Saad', 27, 'D.M']
[('Name', 'Saad'), ('age', 27), ('Designation', 'D.M')]

In [14]:
len(employee)

3

In [15]:
employee

{'Name': 'Saad', 'age': 27, 'Designation': 'D.M'}

In [16]:
del employee['Name']

In [17]:
employee

{'age': 27, 'Designation': 'D.M'}