# Concatenating text strings

In [2]:
a = "Asad"
b = "Masab"

a + " & " + b + " are my friends"

'Asad & Masab are my friends'

In [4]:
" My friends " +  a +  " and " +  b + " study in class 1"

' My friends Asad and Masab study in class 1'

In [7]:
course = "A I"
teacher  = "Sir Asad"
no_of_teacher = 3

"I am enrolled in course " + course + ", which is taught by " +  teacher + " \
and we have ",  no_of_teacher ,  " teachers in a class."

('I am enrolled in course A I, which is taught by Sir Asad and we have ',
 3,
 ' teachers in a class.')

In [9]:
"I am enrolled in course " + course + ", which is taught by " +  teacher + "\
and we have " +  str(no_of_teacher) +  "in a class."

'I am enrolled in course A I, which is taught by Sir Asadand we have 3in a class.'

# if statements

In [12]:
course = "A.I"
fee = "paid"

if fee == "paid":
    print("you can attend a", course, "class")

you can attend a A.I class

In [13]:
if fee:
    print("you can attend a", course, "class")

you can attend a A.I class

In [15]:
num = 0
if num:
    print("you can attend a", course, "class")

In [16]:
value = False

if value:
    print("you can attend a", course, "class")

# Comparison operators

* equal ==
* not equal !=
* greater than >
* less than <
* less than & equal <=
* greater than and equal >=

In [20]:
if 5 != 7:
    print("Tahir")

Tahir

In [21]:
if 2>3:
    print("ok")
else:
    print(2, "is less than",3)

2 is less than 3

In [22]:
print("2" + "," + "3")

2,3

In [25]:
balance= 15000
if balance >= 10000:
    print("withdraw")
else:
    print("cant withdraw")

withdraw

In [29]:
balance= 15000
if balance >= 10000:
    print("withdraw")
else:
    print("cant withdraw")

withdraw

# else and elif statements

In [30]:
balance= 15000
if 10000 < balance <= 13000:
    print("Please deposit more money")
elif balance >= 17000:
    print("Please withdraw money")
else:
    print("You are having money less than banchmark")

You are having money less than banchmark

# Assignment 

first_Cond = greater_than&equals 90 and lessthan&equals 100 -> A+ Grade

Second_Cond = greater_than&equals 80 and lessthan 90 -> A Grade

Third_Cond = greater_than&equals 70 and lessthan 80 -> B Grade

Fourth_Cond = greater_than&equals 60 and lessthan 70 -> C Grade

Fifth_Cond = below 60 -> F Grade