In [8]:
prime = [2]

for i in range(3,101):
    for j in range(2,i):
        if i%j==0 and i in prime:
            prime.remove(i)
            break
        elif i%j == 0:
            break     
        elif i not in prime:
            prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Functions

In [10]:
def average(lst):
    """Calculating an average of a list"""
    avg = sum(lst)/len(lst)
    return avg

In [11]:
a = [1,2,3,4,5]
average(a)

3.0

In [12]:
average.__doc__

'Calculating an average of a list'

In [13]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

In [14]:
len.__doc__

'Return the number of items in a container.'

In [16]:
print(type.__doc__)

type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type

In [19]:
def add(lst): # anything inside parenthesis is a parameter
    """Return the sum of a 'start' value (default: 0)
    plus an iterable of numbers\n\n
    When the iterable is empty, 
    return the start value.\n
    This function is intended specifically for use with numeric values 
    and may\nreject non-numeric types."""
    ad = 0
    for i in lst:
        ad += i
    return ad

In [20]:
add(a)

15

In [28]:
def append(lst, value):
    return lst+[value]

In [29]:
append(a,8)

[1, 2, 3, 4, 5, 8]

In [33]:
append(value = 9, lst = a)

[1, 2, 3, 4, 5, 9]

In [23]:
a

[1, 2, 3, 4, 5]

In [25]:
def app(lst):
    lst.append(45)

In [26]:
lst = [23,22,67,88]
app(lst)

In [27]:
lst

[23, 22, 67, 88, 45]

In [36]:
def div(x = 7,y = 8): # default parameter
    return x/y
div(15,3)

5.0

In [37]:
div()

0.875

In [39]:
div(y=17)

0.4117647058823529

In [ ]:
if type(y)== str

In [41]:
list(range(2,10,2))

[2, 4, 6, 8]

In [45]:
def insert(lst, index,value = 2):
    lst.insert(index,value)
    return lst

In [50]:
insert(lst = a, index = 3, value = 7)

[1, 2, 3, 7, 2, 4, 5]

In [58]:
def addition(x,y, *z): # args
    return x + y + sum(z)

In [59]:
addition(8,9,8,9,8,10)

52

In [63]:
def inivitation(student_marks, student_class, *name):
    """Invitation for those whose grades are 80 and more and 
    they passed 10th class"""
    for key in student_marks:
        if student_marks[key] >= 80 and student_class[key] == "10th" :
            print(key,"You are invited ")

In [61]:
student = {"Muzammil":[90,"10th","Male"],"Arshad":80,"Ali":75,"Ahmed":70, "Afaq":85}
classes = {"Muzammil":,"Arshad":"10th","Ali":"8th","Ahmed":"8th", "Afaq":"9th"}
for key in student:
    if student[key] >= 80 and classes[key] == "10th" :
        print(key,"You are invited ")

Muzammil You are invited
Arshad You are invited

In [64]:
inivitation(student, classes)

Muzammil You are invited
Arshad You are invited

In [65]:
def book_issuance(name, semester, cgpa, *books):
    if semester >= 2 and float(cgpa) >= 2.2:
        print(str(books)+" have been issued to " + str(name))
    elif semester < 2 and float(cgpa) < 2.2:
        print("Sorry! You Are Not Eligible")

In [66]:
book_issuance("Fahad", 3, 2.5, "FA", "PF", "OOP")

('FA', 'PF', 'OOP') have been issued to Fahad

In [74]:
def dictionary(**element):
    print(element)
    print()
    for key, value in element.items():
        print(key,value)

In [75]:
dictionary(a=7,c=5, e= 9)

{'a': 7, 'c': 5, 'e': 9}

a 7
c 5
e 9

In [77]:
a = int(input("put some value "))
b = input("tell me you name ")
print()
dictionary(value = a,name = b)

put some value 72
tell me you name Waqas

{'value': 72, 'name': 'Waqas'}

value 72
name Waqas