# Tuple

In [101]:
a = 1,
type(a)

tuple

In [102]:
a = (1,2,3, "Tuple made by me")

In [103]:
print(a.count(2))
a.index(2)

1

1

In [104]:
len(a)

4

In [105]:
a[1:3]

(2, 3)

In [106]:
a

(1, 2, 3, 'Tuple made by me')

In [107]:
b = ([3,4,5], "tupple", 4.3)
b

([3, 4, 5], 'tupple', 4.3)

In [108]:
b[0].append(8)

In [109]:
b

([3, 4, 5, 8], 'tupple', 4.3)

In [110]:
a = 3

In [111]:
int(4.3)

4

# For Loops

In [112]:
employees = [['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

In [113]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

In [114]:
name_salary = []
for employee in employees:
    # print(employee)
    # name_salary.append((employee[0],employee[2]))
    name_salary.append(((employee[0]+ " " + str(employee[2]))))

In [115]:
name_salary

['Ali 300000', 'Shafiq 80000', 'Shazia 400000', 'Sadia 70000']

In [116]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

In [117]:
for i in employees:
    salary = i[2]
    age = i[1]
    gender = i[-1]
    # print(salary, age)
    if age >= 30 and gender == 'Female':
        salary *= 1.1
        # print(round(salary))
        i[2] = int(salary)

In [118]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 440000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

In [119]:
for index, value in enumerate(employees):
    print(index, value)

0 ['Ali', 27, 300000, 'D.M', 'Male']
1 ['Shafiq', 22, 80000, 'A.M', 'Male']
2 ['Shazia', 35, 440000, 'Director', 'Female']
3 ['Sadia', 25, 70000, 'A.M', 'Female']

# for loops nested 22

In [120]:
transformed = []
for i in employees:
    converted = []
    for j in i:
        a = str(j)
        converted.append(a)
        # print(type(a))
    transformed.append(converted)

In [121]:
transformed

[['Ali', '27', '300000', 'D.M', 'Male'],
 ['Shafiq', '22', '80000', 'A.M', 'Male'],
 ['Shazia', '35', '440000', 'Director', 'Female'],
 ['Sadia', '25', '70000', 'A.M', 'Female']]

In [122]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 440000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

In [123]:
for i in range(len(employees)):
    # print(i)
    for j in range(len(employees[i])):
        # print(str(employees[i][j]))
        employees[i][j] = str(employees[i][j])

In [124]:
employees

[['Ali', '27', '300000', 'D.M', 'Male'],
 ['Shafiq', '22', '80000', 'A.M', 'Male'],
 ['Shazia', '35', '440000', 'Director', 'Female'],
 ['Sadia', '25', '70000', 'A.M', 'Female']]

In [127]:
for i in range(1):
    print(i)

0

In [128]:
name = ['Masab', 'Asad', 'Hammad']
age = [10 , 11, 12]

gulshan_student = [name, age]

gulshan_student

[['Masab', 'Asad', 'Hammad'], [10, 11, 12]]

In [129]:
divisibleby2 = []
divisibleby4 = []
divisibleby6 = []
divisibleby8 = []

In [136]:
for i in range(1,11):
    for j in range(2,6):
        print(j,"x", i, "=", j*i, end = "\t")
        
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45
2 x 10 = 20	3 x 10 = 30	4 x 10 = 40	5 x 10 = 50

In [5]:
for i in range(2,5):
    for j in range(1,11):
        print(i,"x", 2, "=", j*i, end = "\n")
    print(end = "\n")

2 x 2 = 2
2 x 2 = 4
2 x 2 = 6
2 x 2 = 8
2 x 2 = 10
2 x 2 = 12
2 x 2 = 14
2 x 2 = 16
2 x 2 = 18
2 x 2 = 20

3 x 2 = 3
3 x 2 = 6
3 x 2 = 9
3 x 2 = 12
3 x 2 = 15
3 x 2 = 18
3 x 2 = 21
3 x 2 = 24
3 x 2 = 27
3 x 2 = 30

4 x 2 = 4
4 x 2 = 8
4 x 2 = 12
4 x 2 = 16
4 x 2 = 20
4 x 2 = 24
4 x 2 = 28
4 x 2 = 32
4 x 2 = 36
4 x 2 = 40