# Logical Operator 

1. and
2. or 
3. not

In [155]:
a = 13000
# if 10000 < balance <= 13000:

if a > 10000 and a <= 13000:
    print("My name")

My name

In [156]:
print(True and True)
print(True or False)
print(not True)

True
True
False

In [157]:
if not False:
    print("My Name")

My Name

In [158]:
usr_id = "axiom12"
usr_pwd = 123

In [159]:
if usr_id == "axiom2" or usr_pwd == 123:
    print("You can login")

You can login

In [160]:
atm_pin = 1235
balance = 13000

if atm_pin == 1234 and balance > 15000:
    print("You can withdraw a money")
elif atm_pin == 1234 and balance < 15000:
    print("Please depoist money to keep your \
    balance more than 15000")
else:
    print("You have entered a wrong pin")

You have entered a wrong pin

In [161]:
usr_id = "axiom12"
usr_pwd = 124

In [162]:
if usr_id == "axiom12":
    if usr_pwd == 123:
        print("you are successfully logged in")
    else:
        print("wrong password")

else:
    print("You have wrong user id")

wrong password

if usr_id == True and usr_pwd == True:

    if usr_wr ==  True:
    
        print("You can edit")
        
    else:
    
        print("You dont have rights to edit")

# 14 Comments

In [163]:
a = 3+5 # here we are adding these two varaibles for future use
b = 8

In [164]:
# here we are adding these two varaibles for future use
# We have to make this program by 5th Sept
# No more extension

In [165]:
"""here we are adding these two varaibles for future use \n
We have to make this program by 5th Sept \n
tttttttttttttttttttttttttttt
No more extension"""

'here we are adding these two varaibles for future use \n\nWe have to make this program by 5th Sept \n\ntttttttttttttttttttttttttttt\nNo more extension'

# 15 Lists

In [166]:
name = ["Masab", "Asad", "Hassan"]

In [167]:
print(name)

['Masab', 'Asad', 'Hassan']

In [168]:
print(name[0])

Masab

In [169]:
print("Hello", name[0])

Hello Masab

In [170]:
name.append("Yaseen")

In [171]:
print(name)

['Masab', 'Asad', 'Hassan', 'Yaseen']

In [172]:
name.insert(0, "Ghaffor")

In [173]:
print(name)

['Ghaffor', 'Masab', 'Asad', 'Hassan', 'Yaseen']

In [174]:
employee_name = "Ali"
employee_age = 27
employee_salary = 300000

In [175]:
employee_1 = ["Ali",27,300000]

# Indexing 

1. Positive (start from 0. left to right)
2. Negative (Start from -1, right to left)

In [176]:
employee_2 = []
type(employee_2)

list

In [177]:
employee_2.append("Shafiq")
employee_2.append(22)
employee_2.append(80000)
employee_2

['Shafiq', 22, 80000]

In [178]:
print(employee_1[0], employee_1[2])
print(employee_2[0],employee_2[2])

Ali 300000
Shafiq 80000

In [179]:
a  = ["car", "Leave_1", "car"]
b = ["Leave_2"]
print(b[-1])
print(a[-1])

a.index("car")

Leave_2
car

0

# Slicing

In [139]:
employee_1.append("D.M")
employee_2.append("A.M")

In [140]:
employee_1.append("Male")
employee_2.append("Male")

In [141]:
print(employee_1)
print(employee_1[1:5])
print(employee_1[-4:])

['Ali', 27, 300000, 'D.M', 'Male']
[27, 300000, 'D.M', 'Male']
[27, 300000, 'D.M', 'Male']

In [142]:
employees = [employee_1,employee_2,["Shazia", 35, 400000]]
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000]]

In [143]:
len(employees)

3

In [144]:
employees[2].append("Director");employees[2].append("Female")

In [145]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000, 'Director', 'Female']]

In [149]:
employees[0][2],employees[1][2],employees[2][2],

(300000, 80000, 400000)

In [181]:
del a[-1]

In [182]:
a

['car', 'Leave_1']

In [183]:
a.remove('car')

In [184]:
a

['Leave_1']

In [185]:
a[0] = "Leave_2"

In [186]:
a

['Leave_2']

In [187]:
a.insert(0, "Car")

In [188]:
a

['Car', 'Leave_2']

In [190]:
c = a.pop()
c

'Leave_2'

In [192]:
a.append("Leave_1")

In [196]:
a.pop(0)

'Car'

In [197]:
a

['Leave_1']

In [189]:
print(type("Ali"))

<class 'str'>

In [199]:
employees.append(['Sadia', 25, 70000,'A.M', 'Female'])

In [200]:
employees

[['Ali', 27, 300000, 'D.M', 'Male'],
 ['Shafiq', 22, 80000, 'A.M', 'Male'],
 ['Shazia', 35, 400000, 'Director', 'Female'],
 ['Sadia', 25, 70000, 'A.M', 'Female']]

1. age >=30
2. gender =  "Female"

if both conditions true , you have to make increment of 10% in a salary